{% load static %}
<html>
    <head>
        <title>6110110019 blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css\blog.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    </head>
    <body>
        <div class="ui container">
            <div class="ui segments" style="margin-top: 15%;margin-bottom: 15%;">

                <div class="ui teal segment">
                    <div class="ui grid">
                        <div class="column">
                            <h1><b>LAB3SB04 Django Girls Blog</b></h1>
                        </div>
                    </div>
                </div>

                <div class="ui divider"></div>

                {% for post in posts %}
                    <div class="ui two column vertically padded grid">
                        <div class="column">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.text|linebreaksbr }}</p>
                        </div>
                        <div class="column">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        
                    </div>
                <div class="ui divider"></div>
                {% endfor %}

                <div class="ui celled grid">
                    <div class="row">
                        <div class="three wide column">
                            <img class="ui medium circular image" src="{% static 'images\Jerry_Triangle.png' %}"/>
                        </div>
                        <div class="thirteen wide column important">
                            <div class="centered">
                                <br>
                                <br>
                                <p class="important">จัดทำโดย: นายกันตวิชญ์ เจนพิทยา รหัส 6110110019 SEC 01</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
